<!DOCTYPE html>
<html>
  <title>aviscasillas - {{ page.title }}</title>
  <head>
    <link rel="stylesheet" href="/assets/stylesheets/application.css" type="text/css">

    <script type="text/javascript" src="/bower_components/jquery.terminal/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery.terminal/js/jquery.terminal-min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/application.js"></script>
  </head>
  <body>
    {{content}}
  </body>
</html>
